.career {
  overflow: hidden;
  .left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}
  .careerbackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 12px;
    background-image: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.9)
      ),
      url("/assets/careerbg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .contentbox {
      padding: 5px;
      color: white;
    }

    .contentheading1 {
      font-weight: bold;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      font-family: serif;

      @media screen and (max-width: 480px) and (orientation: portrait) {
        font-weight: bold;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        font-family: serif;
        text-align: center;
      }
    }
    .contentheading2 {
      font-weight: bold;
      font-size: 1.7rem;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 480px) and (orientation: portrait) {
        font-weight: bold;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        font-family: serif;
        text-align: center;
        padding-top: 50px;
      }
    }

  }
}
