.homebackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 12px;
  background-image: linear-gradient(
      320deg,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.9)
    ),
    url("/assets/homebg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .contentbox {
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .contentheading1 {
    font-weight: bold;
    font-size: 5rem;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 480px) and (orientation: portrait) {
      font-weight: bold;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      font-family: serif;
      text-align: center;
    }

    @media screen and (max-width: 820px) and (orientation: portrait) {
      font-weight: bold;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      font-family: serif;
      text-align: center;
    }
  }

  .contentheading2 {
    font-weight: bold;
    font-size: 4rem;

    @media screen and (max-width: 480px) and (orientation: portrait) {
      font-weight: bold;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      font-family: serif;
      text-align: center;
    }

    @media screen and (max-width: 820px) and (orientation: portrait) {
      font-weight: bold;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      font-family: serif;
      text-align: center;
    }
  }

  .headingtext {
    padding: 15px;
    font-size: 2rem;
    margin-left: 10px;

    @media screen and (max-width: 480px) and (orientation: portrait) {
      font-weight: bold;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 30px;
    }

    @media screen and (max-width: 820px) and (orientation: portrait) {
      font-weight: bold;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 30px;
    }
  }

  .homebutton {
    color: white;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
  }
  .homebutton:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
  }
}
